#ListHouses > h2,#ListHouses > a{
    text-align: center;
}

#ListHouses{
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    
}

#ListHouses > .House{
    display: flex;
    background-color: #fff;
    margin: auto;
    margin-bottom: 1em;
    width: 70%;
    border: 1px solid black;
} 


/* padding: 0 0 0 225px; */

#ListHouses > section > a > img {
    max-width: 90%;
    margin: 1em;
 
      
}

#ListHouses > section > a {
        width: 50%;      
}

/* #ListHouses > section > a{
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 220px;
 
    z-index: 99;
}  */