#login img {
    height: 20em;
    width: 20em;
    position: relative;
    z-index: -1;
}

#login{

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
    text-align: center;

}

#login form, #login h2 {
    position: absolute;
}

#login form > * {
    margin: 1em;
    display: block;
    text-align: center;
}

#login label {
    display: block;
}