
.loginRegister{

    margin: 2em auto;
    width: 30em;
    border: 1px;
    color: white;
    text-align: center;
    background-image: url("../Images/viver-no-porto-ponte-pequena-2.jpg");
}

.loginRegister header {
    color: white;
    padding: 2em 0;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;

  }

.loginRegister form {
  text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

.error{
  background-color: red;
}
.success{
  background-color: green;
}


input[type=text], input[type=password] ,input[type=email] {
    box-sizing: border-box;
    padding: 0.5em;
    border: 0;
    display: block;
    width: 75%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

}




input[type="submit"], input[type="button"] {
  padding: 1em;

  color: black;
  width: 20%;

  text-transform: uppercase;

  margin-bottom: 1em;
}

.loginRegister footer p{
    width: 100%;
    margin: 0;
    padding-bottom: 1em;
    color: black;
    justify-content: space-around;
    text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
  }