
.loginRegister{
    width: 40vw;
    min-width: 40em;
    border: 1px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    background-image: url("../Images/viver-no-porto-ponte-pequena-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    box-shadow: 1em 1em 0.5em grey;
}

.loginRegister header {
    color: white;
    margin: auto;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    background-color: rgba(68, 68, 68, 0.4);
    padding: 0.01vh;
  }

.loginRegister form {
  font-size: 2.5vh;
  padding-top: 5vh;
  min-height: 40vh;
  text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

.error{
  background-color: red;
}
.success{
  background-color: green;
}


input[type=text], input[type=password] ,input[type=email] {
    box-sizing: border-box;
    padding: 0.5em;
    border: 0;
    display: block;
    width: 75%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

}




input[type="submit"], input[type="button"] {
  padding: 1em;

  color: black;
  width: 20%;

  text-transform: uppercase;

  margin-bottom: 1em;
}
.loginRegister footer{
  display: block;
  background-color: rgb(161, 158, 158);
}
.loginRegister footer p{
  margin: 0;
  padding-bottom: 1em;
  color: black;
  text-align: center;
}

.loginRegisterWrapper{
  min-height: 78vh;
}
