body{
    background-color: #ebebeb;
    
}
body > header > nav {
    
    grid-column: 2;
    grid-row: 1;
}



#Informations{
    display: grid;
    grid-template-columns: [left] auto [middle] auto [right] ;
    grid-template-rows: [top] auto [middle] auto [end];
}

#Description{
    padding: 1em;
    margin: 1em;
}

#Characteristics{
    grid-area: middle / left /end /middle;
    flex-wrap: wrap;
}

#Informations > img{
    grid-area: middle / middle /end /right;
}

#Informations > button{
    grid-area: top / middle /middle /right;
    margin: 1em;
}

#photos{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}



#BigPhoto{
    width: 100%;
}

#SmallerPhotos{
    display: flex;
    flex-direction: row;
}
#SmallerPhotos img{
    width: 25%;
  
}


/* #photos section{

    display: grid;
    grid-template-columns: [left] auto [first] auto [second] auto [third] auto [fourth] auto [right];
    grid-template-rows: [top] auto [middle] auto [end];
}

#photos section:first-child{
    grid-area: top / left / middle / right;
}

#photos section:nth-child(2){
    grid-area: middle / left / end / first;
} */
