body{
    background-color: #ebebeb;
    
}
body > header > nav {
    
    grid-column: 2;
    grid-row: 1;
}
.PageContent {
    display: block;  
    min-height: 80vh;
}
#photos{
    margin: auto;
}
#photos > header{
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
}

#AllHouseInfo{
    display: grid;
    grid-template-columns: [left] auto [middle] auto [right] ;
    grid-template-rows: [top] auto [middle] auto [end];
}


#Informations{
    display: grid;
    margin: 3vw;
    grid-template-columns: [left] auto [middle] auto [right] ;
    grid-template-rows: [top] auto [middle] auto [end];
    font-size: large;
    padding: 1em;
    margin: 1em;
}

.Description{
    padding: 1em;
    margin: 1em;
}

#Characteristics{
    grid-area: middle / left /end /middle;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em;
}

#Informations > img{
    grid-area: middle / middle /end /right;
}

#Informations > form{
    grid-area: top / middle /middle /right;
    margin: auto;
    margin-right: 2vw;;
}

#Informations > p > a{
    margin: 5vh;
    width: 15vw;
    background: #696969;
    text-align: center;
    padding: 1vw;
    color: white;
    font-size: 2vw;
    cursor: pointer;
}

#photos{
    display: flex;
    flex-direction: column;
    width: 45vw;
}




.arrowLeft, .arrowRight {
    cursor: pointer;
    position: absolute;
    float: left;
    top: 40vh;
    width: auto;
    padding: 1vw;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
}
  
.arrowRight {
    margin-left: 42vw; 
}

.arrowLeft:hover, .arrowRight:hover {
    background-color: rgba(0,0,0,0.8);  
}

#HomeImages {
    width: 40vw;
    margin-left: 5vw; 
}

.slideShow > .imageZoomContainer, .slideShow > .imageZoomContainer > img {
    height: 34vw;
    width: 45vw;
}


/*Edit house and add house styling*/

#editHouse{
    width: 80%;
    margin: auto;
    text-align: center;
}

#editHouse form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
}


#editHouse input, #editHouse select{
    padding-top: 0.5em;
    
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}


#editHouse > img{
    width: 30vw;
    max-width: 20em;
    margin: 1em;
}