
body > header{
    display: flex;
    justify-content: space-around;
}
body > header > nav{
    flex-grow: 2;
}


/* 
body > header {
    display: grid;
    grid-template-columns: [left] auto  [middle] auto [signup] auto [end];
    grid-template-rows: auto auto ;
    width: 100%;
}
body{
    margin: 1em;
}


body > header > nav {
  
    grid-column: 2;
    grid-row: 1;
 
}

body > header > div {
  
    grid-column: 3;
    grid-row: 1;
    padding: 1em;
    margin: 1em;
} */

#SearchText{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0em;
}
#SearchBar{
    display: flex;
   
}

body > header > h1 {
  
    grid-column: 1;
    grid-row: 1;
}

#Homes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

    
}

#BestOffers > header{
    text-align: center;
}

#BestOffers > button{
    text-align: center;
    margin: auto;
    width: 100%;
}

#BiggerPhoto {
    display: inline-block;
    flex-wrap: wrap;
    
    
    
}

.SmallerPhotosCollumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-grow: 1 ; */

}
