
body > header{
    width: 100%;
    height: 12.5%;  
    display: flex;
    justify-content: space-around;
    z-index: 1048;
    position: fixed;
}
body > header > nav{
    flex-grow: 2;
}


body > div:first-of-type {
    padding-top: 12.5vh;
}

#SearchText{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0em;
}
#SearchBar{
    display: flex;
    height: 10%;
    width: 100%;
}

body > header > h1 {
  
    grid-column: 1;
    grid-row: 1;
}

#Homes {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}
#Homes header {
    padding: 0%;
    background:rgba(68, 68, 68, 0.8);
    color: white;
    z-index: 1000;
}

#Homes h3 {
    font-size: 2vw; 
}

#Homes h4 {
    font-size: 1.5vw; 
}

#BestOffers {
    text-align: center;
}

#BestOffers > header{
    font-size: larger;
    text-align: center;
}

#BestOffers > button{
    text-align: center;
    margin: auto;
    padding: 0.5em;
    width: 10%;
}

#BiggerPhoto {
    display: inline-block;
    flex-wrap: wrap; 
}

.SmallerPhotosCollumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-grow: 1 ; */
}

footer {
    width: 100%;
    height: 5%;  
    position: relative; 
    bottom: 0px; 
    left: 0px; 
 }