
body > header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto ;
}


body > header > nav {
  
    grid-column: 2;
    grid-row: 1;
}

body > header > div {
  
    grid-column: 3;
    grid-row: 1;
    padding: 1em;
    margin: 1em;
}
body > header > h1 {
  
    grid-column: 1;
    grid-row: 1;
}

#Homes{
    display: grid;
    grid-template-columns: [left] auto [middleleft] auto [middleright] auto [right];
    grid-template-rows:[top] auto [middle] auto [end];
}

#Homes:nth-child(1) img {
    grid-area: top / left / end / middleleft;

}
#Homes:nth-child(2) img{
    grid-area: top / middleleft / middle / middleright;
}

#Homes:nth-child(3) img{
    grid-area: top / middleright / middle / right;
}

#Homes:nth-child(4) img{
    grid-area: middle / middleleft / end / middleright;
}
#Homes:nth-child(5) img{
    grid-area: middle / middleright / end / right;
}