
body{
    background-color: #ebebeb;
}

#profile{
    display: grid;
    grid-template-columns: [left] 1fr [middle] 2fr [right] ;
    grid-template-rows: [top] auto  [middle] auto [bottom];
    text-align: left;
    border: black solid 2px;
    width: 80%;
    height: 80%;
    margin: auto;
}

#profile > *{
    margin: 1em;
    
}

#rating{
    padding-top: 1em;
    padding-bottom: 1em;
}


#profile > img{
    width: 30em;
    margin: 1em;
    border-radius: 50%;
    grid-area: top / left / middle / middle;
}

#ProfileInformation{

    grid-area: middle / left / middle / middle;
}


#ListHouses{
    grid-area: top / middle / middle / right;
}
#ListHouses img{
    width: 20em;
}

#HomesProfile > div:nth-child(1){
    width: 100%;
}

#HomesProfile > div:nth-child(2){
    width: 100%;
}




#profile > form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:auto;
}
#photoUpload{
    padding-top: 10vh;
    /* grid-column: 1 / span 1;
    grid-row: 2 / span 1; */
}
#profile > form input , #profile > form textarea{
    margin-bottom: 2em;
    padding: 1em;
}

#profile > section:nth-child(3){
    /* grid-column: 1 / span 1;
    grid-row: 2 / span 1; */
    padding-top: 50vh;
}
#comments {
    /* grid-area: middle / left / middlebottom / middle; */
    margin: 1em;
}

.SmallerPhotosCollumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-grow: 1 ; */
}




#Reservations {
    grid-area: middle / middle / bottom / right;
    padding-top: 2em;
} 
#Reservations > tbody  td:nth-child(1) > a > img{
    max-width: 3em;
    height: auto;
    border-radius: 50%;

}

#Reservations table{
    border: 1px solid black;
    width: 100%;
}



#ListHouses{
    padding-top:1em ;
    background: #ebebeb;
    grid-area: middle / left / bottom / middle;
    display: flex;
    flex-direction: column;
    max-width: 50;
}

#ListHouses > .House{
    display: flex;  
    margin-bottom: 1em;
    /* width: 50%; */
    border: 1px solid black;
} 


/* padding: 0 0 0 225px; */

#ListHouses > section > a > img {
    max-width: 100%;
    max-height: 100%;
    margin: 1em;
 
      
}

#ListHouses > section > a {
    width: 50%;      
} 

#profile > button{
    grid-area: middle / left / bottom / middle;
    max-height: 2em;
}
