
body{
    background-color: #ebebeb;
  

}

#profile{
    display: grid;
    grid-template-columns: [left] 1fr [middle] 3fr [right] ;
    grid-template-rows: [top] auto [name] auto [stars] auto [middle] auto [bottom];
    text-align: left;
}

#profile > *{
    margin: 1em;
}


#profile > img{
    width: 30em;
    margin: 1em;

    border-radius: 50%;

    grid-area: top / left / middle / middle;
}


#RecentVisits img{
    width: 20em;
}

#HomesProfile > div:nth-child(1){
    width: 100%;
}

#HomesProfile > div:nth-child(2){
    width: 100%;
}

#profile > article {
    grid-area: stars / middle / middle / end;
}

#rating {
    grid-area: name / middle / stars / end;
}

#profile > form{
    grid-area: name / middle / stars / end;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#profile > form input , #profile > form textarea{
    margin-bottom: 2em;
    padding: 1em;
}

#comments {
    grid-area: middle / left / bottom / middle;
    margin: 1em;
}

.SmallerPhotosCollumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-grow: 1 ; */

}

#RecentVisits{
    grid-area: middle / middle / bottom / end;
    

}

#RecentVisits > section{
    display: grid;
    grid-template-columns: [begin] 1fr [mid] 3fr [end] ;
    grid-template-rows: [begin] auto [mid] auto [end] ;
    position: relative;
    
}

#RecentVisits > section >header{
    position: absolute;
}

#HomesProfile{
    width: 50%;
}
