
body{
    background-color: #ebebeb;
}

#profile{
    display: grid;
    grid-template-columns: [left] 1fr [middle] 3fr [right] ;
    grid-template-rows: [top] auto [name] auto [stars] auto [middle] auto [middleBottom] auto [bottom];
    text-align: left;
}

#profile > *{
    margin: 1em;
}
#profile >header{
    height: fit-content;
}

#Editprofile{
    width: 80%;
    max-height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    
}


#Editprofile > img{
    width: 30em;
    margin: auto;
    border-radius: 50%;
}

#Editprofile > form{
    margin: 2em;
  
}

#Editprofile > form input, #Editprofile > form textarea{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
  
    
}

#profile > img{
    width: 30em;
    margin: 1em;
    border-radius: 50%;
    grid-area: top / left / middle / middle;
}


#RecentVisits img{
    width: 20em;
}

#HomesProfile > div:nth-child(1){
    width: 100%;
}

#HomesProfile > div:nth-child(2){
    width: 100%;
}

#profile > article {
    grid-area: stars / middle / middle / end;
}

#rating {
    grid-area: name / middle / stars / end;
    margin: 0em 1em;
}

#profile > form{
    grid-area: name / middle / stars / end;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#profile > form input , #profile > form textarea{
    margin-bottom: 2em;
    padding: 1em;
}

#comments {
    grid-area: middle / left / middlebottom / middle;
    margin: 1em;
}

.SmallerPhotosCollumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-grow: 1 ; */
}



#RecentVisits{
    grid-area: middle / middle / bottom / end; 
}

footer{
    grid-area: middleBottom / left / bottom / right; 
}



/* #RecentVisits > section >header{
    position: absolute;
} */
#Reservations > tbody  td:nth-child(1) > a > img{
    max-width: 3em;
    height: auto;
    border-radius: 50%;

}

#Reservations table{
    border: 1px solid black;
    width: 100%;
}



#ListHouses{
    background: #ebebeb;
    display: flex;
    flex-direction: column;
}

#ListHouses > .House{
    display: flex;  
    margin-bottom: 1em;
    width: 80%;
    border: 1px solid black;
} 


/* padding: 0 0 0 225px; */

#ListHouses > section > a > img {
    max-width: 90%;
    margin: 1em;
      
}

#ListHouses > section > a {
        width: 50%;     
       
}


