@media (width: 60em) {
    body{
        background-color: black;
    }
}

@media (max-width: 30em){
    body > header{
        float: none;
        text-align: left;
    }
    body > header > h1{ 
        float: left;
        font-size: 20px;
        text-align: center;
    }
    body > header > nav {
        float: left;
        overflow: hidden;
        font-size: 11px;
    }
    body > header > div {
        float: left;
        overflow: hidden;
        font-size: 11px;
    }
}