@media (width: 60em) {
    body{
        background-color: black;
    }
}

@media (max-width: 40em){
    #signup a{
        padding:0;
        padding-right: 2vw;
        /*border-radius: 1vh;*/
    }

    .ScrollableList {
        display: inline;
    }
    .imageZoomContainer, #BiggerPhoto > section > a > div{
        height: 70vw;
        width: 100vw;
        overflow: hidden;
        margin: auto;
    }
    .cover, #BiggerPhoto > section > a > div > img{
        object-fit: cover;
        height: 70vw;
        width: 100vw;
    }

    footer nav{
        font-size: 2.5vw;
    }
}


@media (max-width: 50em){
    .loginRegister{
        width: 80vw;
        min-width: 80vw;
    }
}