a {
    text-decoration: none;
    color: inherit;
}


body > header{
    
    color: white;
    background-color: #606060;
    width: 100%;
   
}

body > header h1{
    font-family: serif;
    padding-left: 1em;
    
}
#signup{
    padding: 1em;
    margin: auto;
}
#signup a{
    padding-left: 2em;
    padding-right: 2em;
   
}

body > header > nav >ul{
    padding: 1em;
}

body > header > nav >ul > li{
    display: inline-block;
    text-align: justify;
    padding-left: 5em;
}

#Search > img{
    position: relative;
    width: 100%;
    z-index: -1;
    padding: 0em;
}

#SearchText{
   position: absolute;
   top: 70%;
   left: 40%;
   transform: translate(-50%, -50%);
   
}

#SearchText li{
    color: white;
    padding: 0.5em;
    margin: 0em;
}

#SearchBar input{
    width: 40em;
    height: 100%;
}


#Search li{
    display: inline;
    background-color: #606060;
    text-align: center;
    padding: 0.5 em;
}

#SearchBar img{

    width: 2em;
    height: 100%;
    padding: 0em;
    background-color: #606060;
}



#Search {

    text-align:  center;
}




.Home  {
    position: relative;
}
.Home header {
    position: absolute;
    color: black;
    margin: 0em;
    padding: 0em;
}

#BiggerPhoto  {
    width: 50%;
    
}
#BiggerPhoto img {
    width: 100%;
}
.SmallerPhotosCollumn  {
    width: 25%;

}
.SmallerPhotosCollumn img  {
    width: 100%;
    z-index: -1;
}




body > footer{
    display: flex;
    color: white;
    background-color: #606060;
    width: 100%;
    margin: 0em;
}

body > footer nav{
    display: flex;
    width: 100%;;
    margin: auto;
    justify-content: space-around;
    
}


