a {
    text-decoration: none;
    color: inherit;
}
body{
    font-family: "Open Sans", sans-serif;
    margin: 0%;
}

body > header{
    
    color: white;
    background-color: rgba(68, 68, 68, 0.8);
    width: 100%;
    max-height: 90vh;
    min-height: 10vh;
}

body > header h1{
    font-family: serif;
    padding: 3vh;
    padding-right: 5vw;
    font-size: 5vh;
    margin: 0;
}


body > header > nav > ul> *:hover{
    background-color: #ddd;
    color: black;
}
#signup a:hover {
    background-color: #ddd;
    color: black;
}
#signup{
    padding: 1em;
    margin: auto;
    list-style: none;
}
#signup a{
    padding: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    /*border-radius: 1vh;*/
}

#warnings{
    color:red;
}

.wrapper-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2vh;
    padding: 3vh;
    /*border-radius: 1vh;*/
    text-decoration: none;
}
  
.dropdown {
    display: none;
    position: absolute;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
}

.dropdown > li{
    background-color: #c8c0c0;
    color: black;
    list-style: none;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
.dropdown > li:hover{
    background-color:white;
    color: #696969;
} 
  
.wrapper-dropdown:hover .dropdown{
    display: block;
    color: white;

}
.wrapper-dropdown:hover{
    background-color:white;
    color: #696969;
}
		
#Search {
    position: relative;
}
#Search > video{
    /* position: relative; */
    width: 100%;
    /* max-height: 90vh; */
    z-index: -1;
    padding: 0em;
}

#SearchText{
    left: 10%;
    top: 20vh;
    width: 90%;
    height: 90%;
    margin: auto;
    position: absolute;
}

#SearchText li{
    display: inline;
    background-color: rgba(96, 96, 96, 0.6);
    color: white;
    padding: 1em;
    font-size: 100%;
    margin-right: -0.4vw;
    /*border-radius: 1vh;*/
    outline: none;
}

#SearchText ul{
    text-align: left;
    padding: 0%;
    font-size: 2vh;
}

#SearchText ul li:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: #3b3838;
}

#SearchBar input{
    height: 5.5vh;
    width: 60%;
    font-size: 2vh;
    border-right: none;
    padding: 0.5vh;
    /*border-radius: 2vh 0 0 2vh;*/
    outline: none;
    color: #606060;
}

#SearchBar img{
    width: 5.5vh;
    height: 5.5vh;
    padding: 0em;
    background-color: rgba(90, 90, 90, 0.8);
   /* border-radius: 0 2vh 2vh 0;*/
}

#Search {
    text-align:  center;
}

.Home  {
    position: relative;
}

.Home header {
    position: absolute;
    color: white;
    margin: 0em;
    width: 50%;
    height: 40%;
    line-height: 10%;
}
#BiggerPhoto > section > header {
    position: absolute;
    color: white;
    margin: 0em;
    width: 50%;
    height: 20%;
    line-height: 10%;
}
.Home h3{
    width: 80%;
} 

#BiggerPhoto {
    width: 45vw;
}

.cover {
    object-fit: cover;
    height: 17vw;
    width: 22.5vw;
}

#BiggerPhoto > section > a > div > img {
    object-fit: cover;
    height: 34vw;
    width: 45vw;
}

#SmallerPhotosCollumn{
    size: 22.5vw;
}
#SmallerPhotosCollumn img  {
    width: 22.5vw;
    z-index: -1;
    object-fit: contain;
}
.imageZoomContainer {
    height: 17vw;
    width: 22.5vw;
    overflow: hidden;
}
#BiggerPhoto > section > a > div{
    height: 34vw;
    width: 45vw;
    overflow: hidden;
}
.imageZoomContainer img {
    transition: transform .5s ease;
}
#BiggerPhoto > section > div {
    height: 34vw;
    width: 45vw;
}
.Home > a > div:hover img {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}


#BestOffers > button {
    background-color: #696969;
    color: white;
    font-weight: bold;
    font-size: 2vh;
}
#BestOffers > button:hover {
    background-color: white;
    color:#696969;
    font-weight: bold;
    font-size: 2vh;
}

footer{
    display: flex;
    color: white;
    background-color: rgba(96, 96, 96, 1);
    padding-top: 0.5em;
    padding-bottom: 0.5em ;
    max-height: 7.5vh;
    width: 100%;
    margin-top: 1em;
    overflow: hidden;
}

footer nav{
    display: flex;
    width: 100%;;
    margin: auto;
    justify-content: space-around;
    font-size: 2.5vh;
}

footer h3{
    padding-left: 2vw;
    font-size: 5vh;
    margin: 0;
    font-family: serif;
}


::-webkit-scrollbar {
    width: 1em;

}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}